* {
  margin: 0;
  padding: 0;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #000;
}

html,
body {
  width: 100%;
  height: 100%;
}

.left-menu {
  position: absolute;
  width: 150px;
  height: 100%;
  background: #ccc;
  box-shadow: 0px 0px 9px #555;
  z-index: 10;
}

.left-menu .logo {
  width: 100%;
  height: 112.5px;
}

.left-menu .logo img {
  width: 100%;
  height: auto;
}

.left-menu .page-menu {
  width: 100%;
}

.left-menu .page-menu li {
  box-sizing: border-box;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: #ccc;
  cursor: pointer;
  color: #fff;
}

.left-menu .page-menu li:hover {
  background: #e6e6e6;
  color: #8ccfea;
}

.left-menu .page-menu .active {
  border-left: 5px solid #333 !important;
  background: #e6e6e6;
  color: #8ccfea;
}

.left-menu .copyright {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 35px;
  background: #808080;
  text-align: center;
}

.left-menu .copyright span {
  line-height: 35px;
  font-size: 12px;
  color: #ccc;
}

.right-content {
  position: relative;
  margin-left: 150px;
  height: 100%;
  overflow: auto;
  background: #fafafa;
}

.right-content .main-show {
  box-sizing: border-box;
  padding: 10px;
  height: 100%;
  box-shadow: 3px 3px 3px #eee;
  background: transparent;
}

.right-content .main-show .img {
  display: inline-block;
  margin: 10px 15px;
  padding: 10px;
  height: 80px;
  background: #fff;
  box-shadow: 0px 0px 5px #bbb;
  border-radius: 3px;
}

.right-content .main-show .img img {
  width: auto;
  height: 80px;
  cursor: pointer;
}

.right-content .upload-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background: #ccc;
  border: none;
  box-shadow: 0 0 3px #999;
  border-radius: 3px;
}

.right-content .upload-content {
  box-sizing: border-box;
  position: absolute;
  right: 10px;
  bottom: 50px;
  padding: 10px;
  width: 150px;
  height: 80px;
  color: #fff;
  background: #fafafa;
  border-radius: 5px;
  box-shadow: 2px 2px 8px #999;
  z-index: 100;
}

.right-content .upload-content .selectFile {
  display: block;
  width: 60px;
  height: 20px;
}

.right-content .upload-content .fileName {
  display: block;
  padding: 0 5px;
  height: 20px;
  overflow: hidden;
  border: none;
  background: transparent;
}

.right-content .upload-content .submit {
  position: absolute;
  width: 40px;
  height: 20px;
  bottom: 10px;
  right: 10px;
}

.right-content .show-img {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  left: 5%;
  top: 10%;
  padding: 50px 30px 30px 30px;
  width: 90%;
  height: 80%;
  border-radius: 9px;
  background: #fff;
  box-shadow: 1px 1px 15px #aaa;
  z-index: 999;
}

.right-content .show-img button {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 15px;
  height: 15px;
}

.right-content .show-img > div {
  text-align: center;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}

.right-content .show-img img {
  width: 70%;
  height: auto;
  max-height: 100%;
}

.hidden {
  display: none;
}

.close {
  line-height: 15px;
  text-align: center;
}
