// $leftBarBackColor: #808080;
$leftBarBackColor: #ccc;
* {
    margin: 0;
    padding: 0;
}

a {
    &:link,
    &:visited,
    &:hover,
    &:active {
        text-decoration: none;
        color: #000;
    }
}

html,
body {
    width: 100%;
    height: 100%;
}

.left-menu {
    position: absolute;
    width: 150px;
    height: 100%;
    background: $leftBarBackColor;
    box-shadow: 0px 0px 9px #555;
    z-index: 10;
    .logo {
        width: 100%;
        height: 112.5px;
        img {
            width: 100%;
            height: auto;
        }
    }
    .page-menu {
        width: 100%;
        li {
            box-sizing: border-box;
            height: 50px;
            //font-family: '幼圆';
            text-align: center;
            line-height: 50px;
            background: $leftBarBackColor;
            cursor: pointer;
            color: #fff;
            &:hover {
                background: lighten($leftBarBackColor, 10%);
                color: #8ccfea;
            }
        }
        .active {
            border-left: 5px solid #333 !important;
            background: lighten($leftBarBackColor, 10%);
            color: #8ccfea;
        }
    }
    .copyright {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 35px;
        background: #808080;
        text-align: center;
        span {
            line-height: 35px;
            font-size: 12px;
            color: #ccc;
        }
    }
}

.right-content {
    position: relative;
    margin-left: 150px;
    height: 100%;
    overflow: auto;
    background: #fafafa;
    .main-show {
        box-sizing: border-box;
        padding: 10px;
        height: 100%;
        box-shadow: 3px 3px 3px #eee;
        background: transparent;
        .img {
            display: inline-block;
            margin: 10px 15px;
            padding: 10px;
            height: 80px;
            background: #fff;
            box-shadow: 0px 0px 5px #bbb;
            border-radius: 3px;
            img {
                width: auto;
                height: 80px;
                cursor: pointer;
            }
        }
    }
    .upload-button {
        position: absolute;
        right: 10px;
        bottom: 10px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        color: #fff;
        background: $leftBarBackColor;
        border: none;
        box-shadow: 0 0 3px #999;
        border-radius: 3px;
    }
    .upload-content {
        box-sizing: border-box;
        position: absolute;
        right: 10px;
        bottom: 50px;
        padding: 10px;
        width: 150px;
        height: 80px;
        color: #fff;
        background: #fafafa;
        border-radius: 5px;
        box-shadow: 2px 2px 8px #999;
        z-index: 100;
        .selectFile {
            display: block;
            width: 60px;
            height: 20px;
        }
        .fileName {
            display: block;
            padding: 0 5px;
            height: 20px;
            overflow: hidden;
            border: none;
            background: transparent;
        }
        .submit {
            position: absolute;
            width: 40px;
            height: 20px;
            bottom: 10px;
            right: 10px;
        }
    }
    .show-img {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        position: absolute;
        left: 5%;
        top: 10%;
        padding: 50px 30px 30px 30px;
        width: 90%;
        height: 80%;
        border-radius: 9px;
        background: #fff;
        box-shadow: 1px 1px 15px #aaa;
        z-index: 999;
        button {
            position: absolute;
            right: 10px;
            top: 10px;
            width: 15px;
            height: 15px;
        }
        &>div {
            text-align: center;
            max-width: 90%;
            max-height: 90%;
            overflow: auto;
        }
        img {
            width: 70%;
            //max-width: 90%;
            height: auto;
            max-height: 100%;
        }
    }
}

.hidden {
    display: none;
}

.close {
    line-height: 15px;
    text-align: center;
}